body {
    font-family: 'Gloock', serif;
}


.main_heading {
    font-family: 'Lobster', cursive;
}

#icons {
    padding: 50px;
  }

.carousel-item {
    height: 750px;

}

#carousel-item1 {
    height: 980px;
}